body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer; /*Todas mis etiquetas "a" tendrán una manita al pasar por encima de su contenido*/
}

header {
    width: 100%;
    height: 60px;
}


header nav {
    display: flex; /*Me ayudará a posicionar mis elementos*/
    justify-content: end; /* con esto mando a mi contenido de la barra de navegación a la derecha*/
}

header nav .nav-right-section {
    width: 250px;
    height: auto; /*Para que tome la altura automática del padre (el padre es el header, si el padre es más alto, tomará automáticamente esa altura)*/
    display: flex; /*Me ayudará a posicionar mis elementos del nav en forma lineal*/
    list-style: none; /*Le quita el estilo a los links*/
    justify-content: center; /*Para que el contenido se quede centrado*/
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px; /*Para separar mis elementos de la barra de navegación*/
    color: #000000;
}

nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%; /* Le da un border de 50 y lo deja en modo circular*/
    margin-left: 10px; /*lo alinea a la derecha*/
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto; /*Con esto nos aseguramos que nuestra etiqueta siempre estará en el centro*/
    margin-bottom: auto;
}

main .main-logo img {
    width: 300px;
}

main .main-input {
    width: 530px;
    margin: 0 auto; /*Con esto nos aseguramos que nuestra etiqueta siempre estará en el centro*/
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px; /*para redondear los extremos*/
    border: 1px solid #dfe1e5;
    display: flex; /*Me ayudará a posicionar mis elementos del nav en forma lineal*/
    justify-content: center;  /*Me ayudará a justificar el contenido en el centro*/
    align-items: center; /*Me ayudará a alinear los elementos en el centro*/
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: dfe1e500;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input .micro-icon 
 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px; 
  height: 18px;
  cursor: pointer;
}

main .main-input .search-icon  {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px; 
    height: 18px;
    
}


main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;  
}

main .main-buttons button:hover{
    cursor: pointer;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222222;
    outline: none;
}

 footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}

footer ul li a:hover{
    text-decoration: underline;
}


@media (max-width: 850px){
    footer{
        height: 100px;
        justify-content: center;
        font-size: 12px;
    }
}


@media (max-width: 550px){
    main .main-logo{
        width: 100%;
    }

    main .main-logo img{
        width: 200px;
    }

    main .main-input{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    main .main-input-container{
        width: 295px;
        border-radius: 100px;
    }

    main .main-input input{
        width: 280px;
        height: 45px;
    }
    
    main .main-input .search-icon{
        padding-left: 25px;
    }

    main .main-input .micro-icon{
        padding-right: 25px;
    }
    

    main .main-buttons{
        width: 270px;
        margin: 0 auto;
    }

    main .main-buttons div{
        display: block;
    }

    main .main-buttons button{
        height: 36px;
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        font-size: 14px;
        color: #5f6368;
        border-radius: 5px;
        padding: 0 15px;
        margin-bottom: 15px;
    }
}


@media (max-width: 350px){
    button {
        font-size: 12px !important;
    }

    footer {   
            font-size: 12px !important;
    }
    
    header nav {
        display: flex; /*Me ayudará a posicionar mis elementos*/
    }

    header nav .nav-right-section {
        width: auto;
        height: auto; /*Para que tome la altura automática del padre (el padre es el header, si el padre es más alto, tomará automáticamente esa altura)*/
        display: flex; /*Me ayudará a posicionar mis elementos del nav en forma lineal*/
        list-style: none; /*Le quita el estilo a los links*/
        margin-left: 350%;
    }
    
    main {
        margin-top: 100px;
        text-align: center;
    }
    

    main .main-buttons {
        display: flex;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 1px;
    }

    main .main-logo{
        width: 100%;
    }

    footer .footer-left{
        justify-self: center;
        text-align: center;
    }
    
    footer .footer-right{
        justify-self: right;
    }
    
    footer ul li a{
        margin: 9px;
        color: #5f6368;
    }
    
    footer ul li a:hover{
        text-decoration: underline;
    }

    .sobre_google {
        justify-content:center;
    }
}